::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: rgb(55, 65, 81);
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(55, 65, 81);
}
::-webkit-scrollbar-thumb:active {
	background: rgb(55, 65, 81);
}
::-webkit-scrollbar-track {
	background: rgb(31, 41, 55);
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
	background: rgba(55, 65, 81, 0.5);
}
::-webkit-scrollbar-track:active {
	background: rgba(55, 65, 81, 0.5);
}
::-webkit-scrollbar-corner {
	background: transparent;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

#__next {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Poppins', sans-serif;
}

h2 {
	font-family: 'Poppins', sans-serif;
}

h3 {
	font-family: 'Poppins', sans-serif;
}

h4 {
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

input {
	@apply shadow-inner w-full bg-gray-50 dark:bg-gray-700 p-2 rounded mb-4 outline-none;
}

.box-accent {
	@apply bg-blue-900 text-white font-normal px-1 relative;
}

.box-accent::after {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	background: white;
	background-image: radial-gradient(black 1px, transparent 0);
	background-size: 10px 10px;
	background-repeat: repeat;
	z-index: -1;
	@apply w-10 h-10;
}

.nav-menu {
	z-index: 1;
	background-color: #fafafa;
	box-shadow: 0 0 10px 1px #00000012;
	transition: left var(--delay);
	@apply md:pt-9 md:px-4 md:w-96 md:left-0 dark:shadow-md-dark -left-full p-4 w-full h-full fixed;
}

.nav-menu.open {
	@apply left-0;
}

.content-wrapper {
	--delay: 500ms ease;
	transition: width var(--delay), margin var(--delay);
	@apply flex flex-row flex-grow w-full relative md:ml-96;
}
@media screen and (min-width: 768px) {
	.content-wrapper {
		width: calc(100% - 24rem);
	}
}

.inbox-tab__title {
	--delay: 500ms ease;
	transition: clip-path var(--delay);
	@apply w-full grid h-full grid-cols-2 items-center text-center absolute;
}

.inbox-tab__title.Lists {
	clip-path: polygon(50% 100%, 100% 100%, 100% 0%, 50% 0%);
}

.inbox-tab__title.Social {
	clip-path: polygon(0% 100%, 50% 100%, 50% 0%, 0 0%);
}

.box-shadow {
	@apply shadow-md dark:shadow-md-dark;
}

.btn {
	@apply dark:bg-red-500 px-4 py-2 rounded font-medium;
}

.btn-hollow {
	@apply px-4 py-2 rounded opacity-90 hover:opacity-100 font-medium border-2 transition-colors border-red-500 text-red-500;
}

.todo-checkbox {
	clip-path: ellipse(0% 0% at 50% 50%);
	transition: clip-path 400ms ease;
}

.todo-checkbox-container:hover .todo-checkbox {
	clip-path: ellipse(100% 100% at 50% 50%);
}
