::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: var(--scrollbarColor);
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbarColor);
}
::-webkit-scrollbar-thumb:active {
	background: var(--scrollbarColor);
}
::-webkit-scrollbar-track {
	background: transparent;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
	background: transparent;
}
::-webkit-scrollbar-track:active {
	background: transparent;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

html,
body {
	--scrollbarColor: hsla(217, 19%, 90%, 0.5);
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	--scrollbarColor: hsla(217, 19%, 60%, 0.5);
}

body.dark {
	--scrollbarColor: hsla(217, 19%, 90%, 0.5);
}

a {
	color: inherit;
	text-decoration: none;
}

#__next {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Poppins', sans-serif;
}

h2 {
	font-family: 'Poppins', sans-serif;
}

h3 {
	font-family: 'Poppins', sans-serif;
}

h4 {
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

input {
	@apply shadow-inner bg-gray-50 dark:bg-gray-700 p-2 rounded outline-none;
}

.box-accent {
	@apply bg-blue-900 text-white font-normal px-1 relative;
}

.box-accent::after {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	background: white;
	background-image: radial-gradient(black 1px, transparent 0);
	background-size: 10px 10px;
	background-repeat: repeat;
	z-index: -1;
	@apply w-10 h-10;
}

.nav-menu-container {
	box-shadow: 0 0 10px 1px #00000012;
	transition: width var(--delay);
	@apply w-72 overflow-hidden h-full;
}

.nav-menu-container.closed {
	@apply w-0;
}

.nav-menu {
	z-index: 1;
	background-color: #fafafa;
	@apply md:pt-9 md:px-4 w-full dark:shadow-md-dark p-4 h-full;
}

.content-wrapper {
	--delay: 500ms ease;
	@apply flex flex-row flex-grow w-full relative;
}

.inbox-tab__title {
	--delay: 500ms ease;
	transition: clip-path var(--delay);
	@apply w-full grid h-full grid-cols-2 items-center text-center absolute;
}

.inbox-tab__title.Lists {
	clip-path: polygon(50% 100%, 100% 100%, 100% 0%, 50% 0%);
}

.inbox-tab__title.Social {
	clip-path: polygon(0% 100%, 50% 100%, 50% 0%, 0 0%);
}

.box-shadow {
	@apply shadow-md dark:shadow-md-dark;
}

.btn {
	@apply bg-opacity-75 hover:bg-opacity-100 bg-red-500 text-white dark:text-gray-800 px-4 py-2 rounded font-medium;
}

.btn-hollow {
	@apply px-4 py-2 rounded opacity-75 hover:opacity-100 font-medium border-2 transition-colors border-red-500 text-red-500;
}

.todo {
}

.todo-checkbox-container {
	transition: background-color 250ms ease;
	@apply bg-opacity-10;
}

.todo:hover .todo-checkbox-container {
	@apply bg-opacity-50;
}

.todo-checkbox {
	opacity: 0;
	transition: opacity 750ms ease;
}

.todo-checkbox-container:hover .todo-checkbox {
	opacity: 1;
	animation: todo-checkbox-clip-path 500ms;
	transition: opacity 0ms ease;
}

@keyframes todo-checkbox-clip-path {
	from {
		clip-path: ellipse(0% 0% at 50% 50%);
	}
	to {
		clip-path: ellipse(100% 100% at 50% 50%);
	}
}
